@page "/login"
@using DoctorSystem.Client.Service.Authentication
@using DoctorSystem.Shared.Model
@using DoctorSystem.Shared.Model.Authentication
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@if (_showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@_error</p>
    </div>
}

<h1>เข้าสู่ระบบ</h1>

<div class="card">
    <div class="card-body">
        <EditForm Model="@LoginModel" OnValidSubmit="@HandleLogin">
            <ObjectGraphDataAnnotationsValidator />
            <InputTextEx id="Username" Header="ชื่อผู้ใช้" @bind-Value="@LoginModel.Username" />
            <InputTextEx type="password" id="Password" Header="รหัสผ่าน" @bind-Value="@LoginModel.Password" />
            <div class="form-group">
                <button class="btn btn-primary" type="submit">เข้าระบบ</button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    public LoginModel LoginModel = new LoginModel();

    private bool _showErrors;
    private string _error = "";

    private async Task HandleLogin()
    {
        _showErrors = false;

        var result = await AuthService.Login(LoginModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = result.Error;
            _showErrors = true;
        }
    }
}
